*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Pixelify Sans', sans-serif;
}

.main-dino{
  background-color: #688E26;
  width: 100vw;
  height:calc(100vh - 290.400px);
  position: relative;
}
.img{
  width: 100px;
  scale: 2.6;
  position: absolute;
  bottom: 70px;
  left: 40vw;
}


.content{
  display: flex;
  flex-direction: column;
  width: 100vw;
  background: #FAA613;
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
}
.title{
  display: flex;
  justify-content: center;
  font-size: 42px;
  color: #fff;
}
.subtitle{
  display: inherit;
  color: white;
  font-size: 40px;
  justify-content: center;
}
.content-time{
  width: inherit;
  display: grid;
  grid-template-columns: repeat(3 ,250px);
  justify-content: center;
}
.card{
  display: grid;
  height: 100px;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  background-color: #A10702;   
  color: white;
  margin: 10px;
  border-radius: 10px;
}



/* responsive movil  */

@media (max-width:800px){
  .content{
    height: fit-content;
  }
  .content-time{
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr  ;
    gap: 10px;
    padding: 20px;
  }
  .card{
    font-size: 14px !important;
    width: 90%;
    margin: 0;
  }
}