*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Pixelify Sans', sans-serif;
}

.main-dino{
  background-color: green;
  width: 100vw;
  height:calc(100vh - 170px);
  position: relative;

}
.img{
  width: 100px;
  scale: 2.6;
  position: absolute;
  left: 40vw;
  top: 40vh;
}


.content{
  display: flex;
  flex-direction: column;
  width: 100vw;
  background: steelblue;
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
}
.title{
  display: flex;
  justify-content: center;
  font-size: 42px;
  color: wheat;
}
.subtitle{
  display: inherit;
  color: #4171eb;
  font-size: 30px;
  justify-content: center;
}
.content-time{
  width: inherit;
  display: grid;
  grid-template-columns: repeat(3 ,250px);
  justify-content: center;
}
.card{
  display: grid;
  height: 100px;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  background-color: black;
  color: white;
  margin: 10px;
  border-radius: 10px;
  padding-top: 10px;
}